* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    background-color: #22262A;
    font-family: Gilroy,Arial,sans-serif;
    font-weight: 700;
  }

.main_container {
    width: 100%;
    height: 100vh;
}