* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.timeline .main_container {
  width: 100%;
  height: 100vh;
  background-color: #22262A;
}

.timeline .main_container .sub_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding-left: 300px;
  align-items: center;
  padding-right: 100px;
}

.timeline .main_container .sub_container span {
  color: white;
}
.timeline .main_container .sub_container .history {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline .main_container .sub_container .history .progressbar {
  display: flex;
  flex-direction: 'row';
  width: 800px;
}

.timeline .main_container .sub_container .history .progressbar img {
  width: 30px;
  height: 30px;
}

.timeline .main_container .sub_container .TLBox {
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 10px 10px #000000;
  border-radius: 40px;
  padding: 50px;
  background-color: #17191b;
}

.timeline .main_container .sub_container .TLBox span div h2 {
  font-size: 40px;
  color: white;
  font-family: EliceDigitalBaeum_Regular;
  font-weight: normal;
  margin-bottom: 20px;
}

.timeline .main_container .sub_container .TLBox span div ul li {
  font-size: 20px;
  color: white;
  font-family: EliceDigitalBaeum_Regular;
  font-weight: normal;
}

.timeline .main_container .sub_container .history .progressbar1 {
  width: 800px;
  overflow: hidden;
}

.timeline .main_container .sub_container .bottom {
  width: 900px;
  display: flex;
  justify-content: center;
}

.timeline .main_container .sub_container .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  width: 250px;
  
}

.timeline .main_container .sub_container .buttons button {
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-family: Urbanist;
  font-weight: bold;
  font-size: 15px;
  color: white;
  border-radius: 50px;
  background-color: transparent;
  /* border: 3px solid #61DAFB; */
  border-style: none;
  box-shadow: 2px 2px 10px #000000;
	overflow: hidden;
	position: relative;
  display: inline-block;
  cursor: pointer;
}

.timeline .main_container .sub_container .buttons button {
	z-index: 2;
}

.timeline .main_container .sub_container .buttons button:after {
	content: "";
	height: 155px;
	left: -75px;
	opacity: .2;
	position: absolute;
	top: -50px;
	background: #fff;
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
	-webkit-transition: all .55s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all .55s cubic-bezier(0.19, 1, 0.22, 1);
	width: 50px;
	z-index: -1;
}

.timeline .main_container .sub_container .buttons button:hover:after {
	left: 120%;
}


/* 미디어 쿼리 */

@media screen and (max-width: 1200px) {
  .timeline .main_container .sub_container {
    padding-left: 200px;
  }

  .timeline .main_container .sub_container .TLBox {
    width: 800px;
  }
  
  .timeline .main_container .sub_container .history .progressbar {
    display: flex;
    flex-direction: 'row';
    width: 700px;
  }

  .timeline .main_container .sub_container .history .progressbar1 {
    width: 700px;
    overflow: hidden;
  }
  
  .timeline .main_container .sub_container .bottom {
    width: 800px;
    display: flex;
    justify-content: center;
  }

  .timeline .main_container .sub_container .TLBox span div h2 {
    font-size: 30px;
  }
  
  .timeline .main_container .sub_container .TLBox span div ul li {
    font-size: 18px;
  }

}

@media screen and (max-width: 1024px) {
  .timeline .main_container .sub_container {
    padding-left: 200px;
    padding-right: 50px;
  }
  
  .timeline .main_container .sub_container .TLBox {
    width: 600px;
  }
  
  .timeline .main_container .sub_container .history .progressbar {
    width: 500px;
  }

  .timeline .main_container .sub_container .history .progressbar1 {
    width: 500px;
  }
  
  .timeline .main_container .sub_container .bottom {
    width: 600px;
  }

  .timeline .main_container .sub_container .TLBox span div h2 {
    font-size: 25px;
  }
  
  .timeline .main_container .sub_container .TLBox span div ul li {
    font-size: 15px;
  }
}


@media screen and (max-width: 768px) {
  .timeline .main_container .sub_container {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .timeline .main_container .sub_container .TLBox {
    width: 430px;
    height: 400px;
  } 
  .timeline .main_container .sub_container .history .progressbar {
    width: 350px;
  }

  .timeline .main_container .sub_container .history .progressbar1 {
    width: 350px;
  }
  
  .timeline .main_container .sub_container .bottom {
    width: 430px;
  }
  
  .timeline .main_container .sub_container .TLBox span div h2 {
    font-size: 20px;
  }
  
  .timeline .main_container .sub_container .TLBox span div ul li {
    font-size: 13px;
  }

}

@media screen and (max-width: 480px) {
  .timeline .main_container .sub_container {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .timeline .main_container .sub_container .TLBox {
    width: 250px;
    height: 400px;
  } 
  .timeline .main_container .sub_container .history .progressbar {
    width: 200px;
  }

  .timeline .main_container .sub_container .history .progressbar1 {
    width: 200px;
  }
  
  .timeline .main_container .sub_container .bottom {
    width: 250px;
  }

  .timeline .main_container .sub_container .TLBox span div h2 {
    font-size: 15px;
  }
  
  .timeline .main_container .sub_container .TLBox span div ul li {
    font-size: 10px;
  }
}
